body 
{
margin: 0;
}

.container {
display: flex;
justify-content: space-around;
position: relative;
width: 575px;
height: 385px;
background: #1B244A;
text-align: center;
}

#guest {
width: 117px;
height: 120px;
left: 355px;
top: 125px;
font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 127px;
text-align: center;
color: #F94F6D;
}

#home {
width: 117px;
height: 120px;
left: 100px;
top: 125px;

font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 127px;

text-align: center;

color: #F94F6D;
}

#text1 {
position: absolute;
width: 149px;
height: 36px;
left: 85px;
font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;
text-align: center;
color: #EEEEEE;
}

#text2 {
position: absolute;
width: 149px;
height: 36px;
left: 340px;
font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;

text-align: center;

color: #EEEEEE;
}

#d1 {
position: absolute;
width: 155px;
height: 120px;
left: 82px;
top: 125px;

background: #080001;
border-radius: 5px;
}

#d2 {
position: absolute;
width: 155px;
height: 120px;
left: 337px;
top: 125px;

background: #080001;
border-radius: 5px;
}

#one{
box-sizing: border-box;
position: absolute;
width: 45px;
height: 45px;
left: 82px;
top: 271px;
border: 2px solid #9AABD8;
border-radius: 5px;
text-align: center;
}

#t1{
width: 30px;
height: 25.77px;
left: 89px;
top: 280px;
font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
text-align: center;
color: #9AABD8;
}

#two
{
 box-sizing: border-box;
position: absolute;
width: 45px;
height: 45px;
left: 136px;
top: 271px;
border: 2px solid #9AABD8;
border-radius: 5px;
text-align: center;   
}

#t2{
width: 30px;
height: 25.77px;
left: 143px;
top: 280px;
font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
text-align: center;

color: #9AABD8;
}

#three {
box-sizing: border-box;
position: absolute;
width: 45px;
height: 45px;
left: 192px;
top: 271px;
border: 2px solid #9AABD8;
border-radius: 5px;
text-align: center;
}

#t3{
width: 30px;
height: 25.77px;
left: 199px;
top: 280px;
font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
text-align: center;
color: #9AABD8;
}

#four {
box-sizing: border-box;
position: absolute;
width: 45px;
height: 45px;
left: 337px;
top: 271px;
border: 2px solid #9AABD8;
border-radius: 5px;
text-align: center;
}

#t4
{
width: 30px;
height: 25.77px;
left: 344px;
top: 280px;

font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
text-align: center;

color: #9AABD8;   
}

#five
{
  box-sizing: border-box;
position: absolute;
width: 45px;
height: 45px;
left: 391px;
top: 271px;
text-align: center;
border: 2px solid #9AABD8;
border-radius: 5px;  
}

#t5
{
width: 30px;
height: 25.77px;
left: 398px;
top: 280px;

font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 155% */

text-align: center;

color: #9AABD8;   
}

#six
{
box-sizing: border-box;
position: absolute;
width: 45px;
height: 45px;
left: 447px;
top: 271px;
text-align: center;
border: 2px solid #9AABD8;
border-radius: 5px;  
}

#t6
{
width: 30px;
height: 25.77px;
left: 454px;
top: 280px;
font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
text-align: center;
color: #9AABD8;   
}